;detect_config

[detection]
name               = efficientdet-d0
logdir             = ./projects/BloodCells/
label_map_pbtxt    = ./projects/BloodCells/train/cells_label_map.pbtxt
threads            = 0
delete_logdir      = True
batch_size         = 1
checkpoint_dir    = ./projects/BloodCells/models
savedmodel_dir     = ./projects/BloodCells/savedmodel
hparams            = ./projects/BloodCells/configs/default.yaml
output_dir         = ./projects/BloodCells/outputs

[visualization]
line_thickness  = 2
max_boxes       = 100
threshold       = 0.4
nms_method      = hard

